/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
  }

h {
    font-size: 25px;
    color: black; 
}

h2 {
    font-size: 20px;
    color: teal; 
}
h3 {
  font-size: 30px;
  color: teal; 
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 220px;
  }

a {
  color: teal;
  font-size: 20px;
}

  /* Dropdown Button */
.dropbtn {
  background-color: teal;
  color: white;
  padding: 8px 8px 8px 8px;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  
}
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:teal;
  min-width: 160px;
  box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; }

  /* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

  /* Change color of dropdown links on hover */
.dropdown-content a: {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.navbar-header a {
  font-size: 24px;
}


table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
  position: center;
}

td {
  border: 1px black solid;
  padding: 5px;
}

